---
import LayoutContent from "../layouts/LayoutContent.astro";
---

<LayoutContent title="About | C.D.TAKOH" name="About" url="mv_about.png">
    <div class="content__inner">
        <h2>An exclusive meal encounter at C.D.TAKOH</h2>
        <p class="txt">Welcome to C.D.TAKOH</p>
        <p class="txt">
            Japanese Yoshoku cuisine Yoshoku cuisine is one of cooking
            genreunique to Japan, inspired by classicwestern culinary art.<br
            /><br />It is the creative blessings of fresh Japanese ingredients
            and heating magic of cooking.<br /><br />We invites you on our
            innovative culinary journey which may not be experienced anywhere
            else. <br />It is allowed to only one party of 4 to 6 people a day.
            The journey is offered by OMAKASE style, chef's choice of course and
            wine by the bottle. <br /><br />Completely private,The kitchen bar
            with OMAKASE style is our Most refined yet intimate dinning
            expression.<br /><br />
            Relax and enjoy our meticulously crafted dishes and its harmony with
            premium wines.
        </p>
    </div>
</LayoutContent>

<script>
    /* import { gsap } from "gsap";
    const content = document.querySelector(".content__inner");

    const tl = gsap.timeline();
    tl.fromTo(
        content,
        1,
        { opacity: "0%" },
        { opacity: "100%", ease: "none" },
    ).fromTo(
        content,
        1,
        { marginTop: "10px" },
        { marginTop: "0px", ease: "none" },
        "-=1.3",
    );*/
</script>

<style lang="scss">
    .content__inner {
        padding: 60px 40px;
        border: 1px solid var(--b);
        border-radius: 25px;
        margin-bottom: 20px;
        font-family: "Noto Sans Variable", sans-serif;
        @media (max-width: 768px) {
            padding: 30px 20px;
            border-radius: 10px;
        }
        h2 {
            font-size: 36px;
            margin-bottom: 40px;
            @media (max-width: 768px) {
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
        .txt {
            line-height: 1.75;
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 2;
            }
        }
    }
</style>
