---
import NavTop from "./parts/NavTop.astro";
---

<section id="top">
  <div class="content__inner">
    <NavTop />
    <div class="header">
      <h1>
        <span class="logo"><img src="/img/logo.png" alt="" /></span>
        <span class="c">C.</span>
        <span class="d">D.</span>
        <span class="t">T</span>
        <span class="a">A</span>
        <span class="k">K</span>
        <span class="o">O</span>
        <span class="h">H</span>
        <span class="two">2</span>
      </h1>
      <p class="h-txt">EAST meets WEST<br />JAPANESE YOSHOKU CUISINE</p>
    </div>

    <div class="reserveBtn__wrapper">
      <a href="/reservation" class="reserveBtn">Reservation</a>
    </div>

    <div class="glass__wrapper">
      <div class="glass_left glass">
        <p class="txt-lg">C.D.TAKOH2</p>
        <p class="txt-md">A special dining experience<br />at C.D.TAKOH2</p>
      </div>
      <div class="glass_right glass">
        <div class="menu"><img src="/img/glass_menu01.png" alt="" /></div>
        <div class="menu"><img src="/img/glass_menu02.png" alt="" /></div>
        <div class="menu"><img src="/img/glass_menu03.png" alt="" /></div>
        <div class="menu"><img src="/img/glass_menu04.png" alt="" /></div>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay, EffectFade } from "swiper/modules";
  import "swiper/css/bundle";
  import "swiper/css/effect-fade";
  export const swiperConfig = {
    modules: [Autoplay, EffectFade],
    // Optional parameters
    loop: false,
    autoplay: { delay: 5000 },
    effect: "fade",
  };

  const swiper = new Swiper(".swiper", swiperConfig);
</script>

<style lang="scss">
  section#top {
    padding: 20px 20px;
    @media (max-width: 768px) {
      padding: 10px;
      max-height: 100svh;
    }
    div.content__inner {
      position: relative;
      @media (max-width: 768px) {
        height: 100%;
      }
      div.header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        opacity: 1;
        @media (max-width: 768px) {
          top: 45%;
        }
        h1 {
          color: var(--b);
          font-size: 130px;
          font-weight: bold;
          display: flex;
          align-items: flex-end;
          position: relative;
          /*text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 20px;*/
          animation: headerGlow 5s linear infinite;
          @media (max-width: 768px) {
            font-size: 52px;
          }
          span {
            display: block;
          }
          span.logo {
            width: 200px;
            margin-right: 20px;
            @media (max-width: 1120px) {
              position: absolute;
              top: -125px;
              left: 48%;
              transform: translateX(-50%);
              width: 160px;
              margin-right: 0px;
            }
            @media (max-width: 768px) {
              width: 100px;
              top: -90px;
            }
          }
        }
        p {
          text-align: center;
          font-size: 24px;
          font-weight: 200;
          text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 40px;
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }

      .reserveBtn__wrapper {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: #000;
        z-index: 99;
        padding: 20px 10px 20px 15px;
        border-radius: 35px 0 0 0;

        &::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: -41px;
          width: 42px;
          height: 42px;
          background: url("/img/mv_btn_frame.png") center center / cover
            no-repeat;
          @media (max-width: 768px) {
            bottom: -1px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 107px;
          right: -2px;
          width: 42px;
          height: 42px;
          background: url("/img/mv_btn_frame.png") center center / cover
            no-repeat;
          @media (max-width: 768px) {
            bottom: 88px;
          }
        }
        .reserveBtn {
          font-size: 24px;
          display: block;
          min-width: 260px;
          text-align: center;
          border-radius: 50px;
          padding: 15px 0;
          border: 1px solid var(--b);
          transition: all 0.6s;
          color: var(--b);
          @media (max-width: 768px) {
            font-size: 18px;
            display: block;
            min-width: 200px;
            text-align: center;
            border-radius: 50px;
            padding: 10px 0;
          }
          &:hover {
            background: var(--b);
            color: #000;
          }
        }
      }

      div.glass__wrapper {
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 99;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
        .glass {
          border: 1px solid var(--b);
          border-radius: 25px;
          min-height: 170px;
          background-color: rgba(255, 255, 255, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-right-color: rgba(255, 255, 255, 0.2);
          border-bottom-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(22px);
          -webkit-backdrop-filter: blur(22px);
          @media (max-width: 768px) {
            min-height: 120px;
          }
        }
        div.glass_left {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0 20px;
          p.txt-lg {
            font-size: 32px;
            @media (max-width: 768px) {
              font-size: 22px;
            }
          }
          p.txt-md {
            font-size: 14px;
            @media (max-width: 768px) {
              font-size: 10px;
            }
          }
        }
        div.glass_right {
          padding: 10px;
          width: 80px;
          div.menu {
            position: absolute;
            width: 60px;
            @media (max-width: 768px) {
              width: 45px;
            }
            &:nth-child(1) {
              bottom: 100px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 3;
              @media (max-width: 768px) {
                bottom: 65px;
              }
            }
            &:nth-child(2) {
              bottom: 55px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 2;
              @media (max-width: 768px) {
                bottom: 35px;
              }
            }
            &:nth-child(3) {
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 1;
            }
          }
        }
      }

      div.swiper {
        width: 100%;
        height: 100vh;

        div.swiper-wrapper {
          overflow: hidden;
          div.swiper-slide {
            overflow: hidden;
            @media (max-width: 768px) {
              width: 100% !important;
            }
            .slide-img {
              width: 100%;
              height: 100%;
              animation: scaleUp 12s linear infinite;
            }
            &:first-child {
              .slide-img {
                background: url("/img/slider01.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(2) {
              .slide-img {
                background: url("/img/slider02.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(3) {
              .slide-img {
                background: url("/img/slider03.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(4) {
              .slide-img {
                background: url("/img/slider04.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(5) {
              .slide-img {
                background: url("/img/slider05.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(6) {
              .slide-img {
                background: url("/img/slider03.jpg") center center / cover
                  no-repeat;
              }
            }
            &:nth-child(7) {
              .slide-img {
                background: url("/img/slider01.jpg") center center / cover
                  no-repeat;
              }
            }
          }
        }
      }
    }
  }

  @keyframes headerGlow {
    0% {
      text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 20px;
    }
    50% {
      text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 30px;
    }
    100% {
      text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 20px;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(100%);
    }

    100% {
      transform: scale(110%);
    }
  }
</style>
