---
type nav = {
    name: string;
    url: string;
};

const nav = [
    {
        name: "Home",
        url: "/",
    },
    {
        name: "Menu",
        url: "/menu",
    },
    {
        name: "About",
        url: "/about",
    },
    {
        name: "Location",
        url: "/location",
    },
    {
        name: "Reservation",
        url: "/reservation",
    },
];
---

<footer id="contentFooter" class="footer">
    <div class="contents__inner">
        <ul class="footer-nav">
            {
                nav.map((item: nav) => (
                    <li class="footer-item">
                        <a href={item.url} class="footer-link">
                            {item.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</footer>

<script>
    import { gsap } from "gsap";
    const footer = document.querySelector(".footer");
    const glass = document.querySelector(".glass__wrapper");
    const btn = document.querySelector(".reserveBtn__wrapper");
    const tl = gsap.timeline();
    tl.fromTo(
        footer,
        1,
        { opacity: "0%" },
        { opacity: "100%", ease: "none" },
    ).fromTo(
        footer,
        1,
        { marginTop: "10px" },
        { marginTop: "0px", ease: "none" },
        "-=1.",
    );
</script>

<style lang="scss">
    footer#contentFooter {
        background: url("/img/reservationBnr_bg.png") center center / cover
            no-repeat;
        min-height: 200px;
        width: 100%;
        padding: 40px 0;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @media (max-width: 768px) {
            border-radius: 10px;
        }
        div.contents__inner {
            ul.footer-nav {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 30px;
                @media (max-width: 768px) {
                    flex-direction: column;
                    padding-inline-start: 0px;
                }
                li.footer-item {
                    a.footer-link {
                        color: var(--b);
                    }
                }
            }
        }
    }
</style>
