---
import AccordionMenu from "./AccordionMenu.astro";
---

<div class="pc">
    <nav class="nav">
        <ul class="nav-list">
            <li>
                <a href="/" class="current linkbtn">Home</a>
            </li>
            <li>
                <a href="menu" class="linkbtn">Menu</a>
            </li>
        </ul>
        <ul class="nav-list">
            <li>
                <a href="about" class="linkbtn">About</a>
            </li>
            <li>
                <a href="location" class="linkbtn">Location</a>
            </li>
            <li>
                <a href="mailto:kanae.r@cdtakoh.com" class="icon"
                    ><img src="/img/icon_mail.png" alt="" /></a
                >
            </li>
        </ul>
    </nav>
</div>

<div class="sp">
    <AccordionMenu />
</div>

<script>
    import { gsap } from "gsap";
    const nav = document.querySelector(".nav");
    const navlink = document.querySelectorAll(".linkbtn");
    const glass = document.querySelector(".glass__wrapper");
    const btn = document.querySelector(".reserveBtn__wrapper");
    const tl = gsap.timeline();
    tl.fromTo(nav, 1.5, { opacity: "0%" }, { opacity: "100%", ease: "none" })
        .fromTo(
            nav,
            1,
            { marginTop: "10px" },
            { marginTop: "0px", ease: "none" },
            "-=1.2",
        )
        .fromTo(
            navlink,
            0.7,
            { minWidth: "160px" },
            { minWidth: "180px", ease: "none" },
            "-=1",
        );
</script>

<style lang="scss">
    nav {
        position: fixed;
        z-index: 999;
        width: 96%;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        border: 1px solid var(--b);
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(22px);
        -webkit-backdrop-filter: blur(22px);
        ul.nav-list {
            list-style: none;
            display: flex;
            align-items: center;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 00px;
            &:last-child {
                justify-content: flex-end;
            }
            li {
                a {
                    font-size: 24px;
                    display: block;
                    min-width: 160px;
                    text-align: center;
                    border-radius: 50px;
                    padding: 15px 0;
                    border: 1px solid var(--b);
                    transition: all 0.6s;
                    color: var(--b);

                    &.current {
                        background: var(--b);
                        color: #000;
                    }
                    &:hover {
                        background: var(--b);
                        color: #000;
                    }
                    &.icon {
                        min-width: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s;
                        &:hover {
                            background: rgba(#efe7d2, 0.4);
                            border: 3px solid var(--b);
                        }
                    }
                }
            }
        }
    }
</style>
