<div class="reservationBnr__wrapper">
    <div class="glass">
        <a href="/reservation" class="btn">Reservation</a>
    </div>
</div>

<style lang="scss">
    div.reservationBnr__wrapper {
        background: url("/img/reservationBnr_bg.png") center center / cover
            no-repeat;
        height: 200px;
        width: 100%;
        padding: 40px 0;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            height: 180px;
            padding: 30px 0;
        }
        div.glass {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--b);
            width: 90%;
            padding: 40px 0;
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-right-color: rgba(255, 255, 255, 0.2);
            border-bottom-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            @media (max-width: 768px) {
                padding: 30px 0;
            }
            a.btn {
                font-size: 24px;
                display: block;
                width: 260px;
                text-align: center;
                border-radius: 50px;
                padding: 15px 0;
                border: 1px solid var(--b);
                transition: all 0.6s;
                color: var(--b);
                @media (max-width: 768px) {
                    font-size: 20px;
                    width: 260px;
                    padding: 12px 0;
                }
                &:hover {
                    background: var(--b);
                    color: #000;
                }
            }
        }
    }
</style>
