---
import "@fontsource-variable/sora";
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/style/reset.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--b: #efe7d2;
	}
	html {
		font-family: "Sora Variable", sans-serif;
		background: #000;
	}
	body {
		color: var(--b);
	}

	.pc {
		display: block;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.sp {
		display: none;
		@media (max-width: 768px) {
			display: block;
		}
	}
</style>
