---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="C.D.TAKOH" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/style/reset.css" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="preload"
			as="style"
			href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
		/>
		<link
			rel="stylesheet"
			media="print"
			onload="this.media='all'"
			href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
		/>
		<link
			rel="preload"
			as="style"
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
		/>
		<link
			rel="stylesheet"
			media="print"
			onload="this.media='all'"
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
		/>
		<!-- no-JS fallback -->
		<noscript>
			<link
				href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
				rel="stylesheet"
			/>
			<link
				href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
				rel="stylesheet"
			/>
		</noscript>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body transition:animate={slide({ duration: "1s" })}>
		<slot />
	</body><script>
		import { gsap } from "gsap";
		const c = document.querySelector(".c");
		const d = document.querySelector(".d");
		const t = document.querySelector(".t");
		const a = document.querySelector(".a");
		const k = document.querySelector(".k");
		const o = document.querySelector(".o");
		const h = document.querySelector(".h");
		const header = document.querySelector(".h-txt");
		const glass = document.querySelector(".glass__wrapper");
		const btn = document.querySelector(".reserveBtn__wrapper");
		const tl = gsap.timeline();
		tl.fromTo(c, 1, { opacity: "0%" }, { opacity: "100%", ease: "none" })
			.fromTo(
				d,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				t,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				a,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)

			.fromTo(
				k,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				o,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				h,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				header,
				0.5,
				{ marginTop: "-30px" },
				{ marginTop: "0px", ease: "none" },
				"-=1.2",
			)
			.fromTo(
				header,
				0.3,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
			)
			.fromTo(
				glass,
				0.5,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
				"-=1",
			)
			.fromTo(
				btn,
				1,
				{ opacity: "0%" },
				{ opacity: "100%", ease: "none" },
				"-=",
			)
			.fromTo(
				btn,
				1,
				{ bottom: "10px" },
				{ bottom: "0", ease: "none" },
				"-=2",
			);

		const content = document.querySelector(".content__inner");

		const tl2 = gsap.timeline();
		tl2.fromTo(
			content,
			0.5,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		).fromTo(
			content,
			1,
			{ marginTop: "10px" },
			{ marginTop: "0px", ease: "none" },
			"-=1.3",
		);

		const right = document.querySelector(".right");

		const tl6 = gsap.timeline();
		tl6.fromTo(
			right,
			0.5,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		).fromTo(
			right,
			1,
			{ marginTop: "10px" },
			{ marginTop: "0px", ease: "none" },
			"-=1.2",
		);

		const mv = document.querySelector(".mv");

		const tl3 = gsap.timeline();
		tl3.fromTo(
			mv,
			0.5,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		);

		const menu = document.querySelector(".menu");
		const tl4 = gsap.timeline();
		tl4.fromTo(
			menu,
			0.5,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		);

		const footer = document.querySelector(".footer");

		const tl5 = gsap.timeline();
		tl5.fromTo(
			footer,
			0.5,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		).fromTo(
			footer,
			1,
			{ marginTop: "10px" },
			{ marginTop: "0px", ease: "none" },
			"-=1.2",
		);

		const reservationBnr__wrapper = document.querySelector(
			".reservationBnr__wrapper",
		);
		const tl7 = gsap.timeline();
		tl7.fromTo(
			reservationBnr__wrapper,
			1,
			{ opacity: "0%" },
			{ opacity: "100%", ease: "none" },
		).fromTo(
			reservationBnr__wrapper,
			1,
			{ marginTop: "10px" },
			{ marginTop: "0px", ease: "none" },
			"-=1.",
		);
	</script>
	<style is:global lang="scss">
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--b: #efe7d2;
		}
		html {
			font-family: "Sora", sans-serif;
			background: #000;
		}
		body {
			color: var(--b);
		}

		.pc {
			display: block;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.sp {
			display: none;
			@media (max-width: 768px) {
				display: block;
			}
		}
	</style>
</html>
